@import "../index";

.names-collector {
    @include main-div;

    .names-list {
        @include list($flexDirection: row);
    }

    .buttons {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 40px;
    }
}
