.name-form {
    height: 4vh;
    width: 80%;
    font-size: 80%;
    display: flex;
    justify-content: space-evenly;

    input {
        width: 65%;
        border: 2px solid rgb(111, 151, 160);
        border-radius: 5px;
        box-shadow: 0 0 2px rgb(123, 166, 213);
    }

    button {
        width: 20%;
        height: 100%;
        font-size: 150%;
        padding: 0;
    }
}
