@import "../../index";

.selected {
    background-color: rgb(30, 196, 30);
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 70%;
    width: 35%;
    min-width: 130px;

    .button--danger {
        @include delete-button;
        margin: 0;

        i {
            font-size: 110%;
        }
    }
}
