@import "../index";

.item-collector {
    @include main-div;

    h1 {
        font-size: 130%;
    }

    .items-list {
        @include list;

        .total {
            font-size: 120%;
        }

        .next-button {
            margin-top: 60px;
        }
    }
}
