@import "../index";

.item-collector {
    @include main-div;

    h1 {
        font-size: 130%;
    }

    .items-list {
        @include list;

        .total {
            font-size: 120%;
            min-width: 250px;
        }

        .buttons {
            @include buttons;
        }
    }
}
