@import "../index";

.item-collector {
    @include main-div;

    h1 {
        font-size: 130%;
    }

    .items-list {
        @include list;

        li {
            font-size: 90%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            .total {
                font-size: 120%;
            }
        }
        .next-button {
            margin-top: 60px;
        }
    }
}
