@import "../../index";

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100%;
    width: 90%;
    height: 80%;
    margin: 10px;
    padding: 0;
}

.button--danger {
    @include delete-button;

    i {
        font-size: 100%;
    }
}
