@import "../index";

.tip {
    @include main-div;

    .input {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150%;
    }
    input {
        @include input($width: 35%, $fontSize: 100%);
        margin: 5px;
    }

    .buttons {
        @include buttons;
    }
}
