.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(0, 162, 255);
  border-radius: 4px;
  background: rgb(0, 162, 255);
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: rgb(24, 136, 201);
  border-color: rgb(24, 136, 201);
}

.button--inverse {
  background: rgb(244, 239, 239);
  color: rgb(24, 136, 201);
}

.button--inverse:hover,
.button--inverse:active {
  background: rgb(204, 201, 223);
}

.button--danger {
  background: rgb(236, 37, 37);
  border-color: rgb(236, 37, 37);
}

.button--danger:hover,
.button--danger:active {
  background: rgb(243, 67, 67);
  border-color: rgb(243, 67, 67);
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: rgb(204, 204, 204);
  color: rgb(151, 151, 151);
  border-color: rgb(204, 204, 204);
  cursor: auto;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
